* { box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; }
body,html {padding:0; margin:0;font-size:2.5vmax;font-family: 'Oswald', sans-serif;}
h1,h2,h3 {font-family: 'Fredoka One', sans-serif;}
h4,h5 {font-family: 'Oswald', sans-serif;font-weight:bold;}
p {font-family: 'Oswald', sans-serif;font-weight: 200;}
.table {
  display: table;
  height: 100%;
  width: 100%;
  background: #032D7F;
  box-shadow: inset 0px 0px 90px 5px rgba(0,0,0,0.5);
  overflow: hidden;
  transition: background .5s;
}
.menu {
  display: table-cell;
  vertical-align: middle;
}
.menu-wrapper {
  width: 80%;
  min-width: 260px;
  max-width: 420px;
  margin: 0 auto;
  line-height: 0;
}
.menu-wrapper::after, .menu-wrapper::before {
  clear: both;
}
.menu-child {
  width: 46%;
  margin: 2%;
  border-radius: 10px;
  display:inline-block;
  position:relative;
  float: left;
}
.menu-child:before{
	content: "";
	display: block;
	padding-top: 100%;
}
.menu-inner.a {
  background: #FFC14F;
}
.menu-inner.b {
  background: #FB5012;
}
.menu-inner.c {
  background: #00A6FB;
}
.menu-child:nth-of-type(1), .snippets{
  color: #ff8300;
}
.menu-child:nth-of-type(2), .projects{
  color: #FFC14F;
}
.menu-child:nth-of-type(4), .aboutme{
  color: #0255a0;
}
.shadow, .menu-inner, .menu-inner > a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
.menu-inner, .menu-inner:hover, .menu-inner > a, .menu-inner > a:hover {
  z-index: 1;
  display:block;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  color: inherit;
}/*
.selected {
  position: absolute;
  top:0;left:0;right:100%;bottom:0;
  overflow-y: scroll;
}
.selected {
  display: none;
}*/
.menu-inner h2{
  position: absolute;
  left: 5%;
  bottom: 5%;
  margin: 0;
  line-height: 1;
  font-size: 1.05em;
}
.logo {
  width: 50%;
  max-width: 171px;
  position: absolute;
  left: 10px;
  bottom: 10px;
  cursor: pointer;
}
.text-wrapper {
  padding: 10px 20px;
  width: 900px;
  max-width: 90vw;
  margin: auto;
  background: #fff;
  border-radius: .5em;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 5px 0px;
}
.selected .container {
  padding: 0% 15% 5%;
  /*height: calc(100% - 9vmax);*/
  margin-top: 10vmax;
}
#Capa_1 {
  display: none;
  position: fixed;
  right: 0;
  top: 0;
  /*margin: 3vmax;*/
  transition: 0.3s;
  /*max-width: 42px;
  max-height: 42px;*/
}
#Capa_1:hover {
  opacity: 0.75;
  cursor: pointer;
}
.selected .logo {
  max-width: 100px;
position: absolute;
top: -6.5vmax;
left: 10px;
right: 0;
bottom: auto;
margin: auto;
width: 9vmax;
}
hr {
  border: none;
  background-color: #ffffff; /* #0255a0 */
  height: 5px;
}
.aboutme .container {
  padding-bottom: 0;
}
.aboutme h1 {
  color: #0255a0;
  font-size: 1.25em;
  margin: 10px auto;
}
.aboutme h4 {
  font-size: 0.65em;
  margin: 0 auto 0.65em;
  color: #0255a0;
}
.aboutme p {
  font-size: 0.5em;
  line-height: 1.4;
  color: #555;
}
.aboutme ul {
  font-size: 0.5em;
  list-style: none;
  margin: 10px auto;
  display:inline-block;
  width: 30%;
  padding: 0;
}
.aboutme ul p {
  font-size: 1em;
  background: #0255a0;
  display: inline-block;
  margin: 4px;
  padding: 0.45em 0.5em;
  border-radius: 5px;
  line-height: 1;
  color: #fff;
}
.aboutme a {
  color: #0255a0;
  font-weight: bold;
}
.aboutme blockquote {
  font-size: 0.65em;
  font-weight: bold;
}
.aboutme .text-wrapper, .projects .text-wrapper {
  text-align: center;
  /*background:#EBF2FA;*/
}
.projects .text-wrapper, .snippets .text-wrapper {
  margin-bottom: 15px;
}
.projects h2 {
  font-size: 1em;
  line-height: 1;
  margin: 5px auto;
}
.projects p {
  font-size: 0.6em;
  color: #555;
}
.projects .text-wrapper > a {
  font-size: .7em;
  text-decoration: none;
  display: inline-block;
  padding: .5em .5em .55em;
  margin-bottom: 10px;
  color: #fff;
  background: #fb5012;
  line-height: 1;
  border-radius: 5px;
  box-shadow: 0 1px 4px 0px rgba(0,0,0,0.55);
  -moz-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.projects .text-wrapper > a:hover {
  background: #FFC14F;
}
img.mobile-project, img.desktop-project {
    height: 318px;
    padding: 13px;
    border: 2px solid #888;
    border-radius: 10px;
    background: #333;
    margin: 15px auto;
    display: inline-block;
}
@media(min-width: 1440px){ .menu-wrapper {max-width:none;width:35%;}}
@media(max-width: 1024px) and (min-width: 768px){ body {font-size: 3.5vmax;} .text-wrapper {padding:0;}}
@media(max-width: 767px){ body {font-size: 4vmax;} .text-wrapper {padding:10px;} .selected .container {padding: 7px; height:75%;} img.desktop-project {display:none;}}
